.kpi-card {
    min-height: 160px;
}

.kpi-icon {
    transform: scale(1.5);
    margin-right: 10px;
}

.kpi-value {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10px;
}

mat-card-actions {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 5px !important;
}