.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

/* ✅ Fix Layout for Sticky Footer */
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Pushes the footer down if content is short */
.main-scrollable-content {
  flex: 1;
}

.spacer {
  flex: 1 1 auto;
}

.desktop-menu {
  display: flex;
  gap: 5px;
}

.text-small {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}